@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* recentlyView (mainCon & subCon) section start */
.mainCon {
  position: relative;
}

.subCon {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.mainCon:hover .subCon {
  visibility: visible;
  transform: translateY(0);
}

.mainCon:not(:hover) .subCon {
  visibility: hidden;
  transform: translateY(100%);
}
/* recentlyView (mainCon & subCon) section end */

/* swiperAnimation section start */
.sliderCon{
  box-shadow: 0 5px 5px 5px rgba(177, 12, 6, 0.753);
  animation: animate 5s ease-in-out infinite;
  -webkit-animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

@keyframes animate {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    -webkit-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    -moz-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    -ms-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    -o-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
  50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    -webkit-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    -moz-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    -ms-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    -o-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
}
/* swiperAnimation section end */

/* contact banner section start */
.contactBanner{
  background-image: url('../../public/contact/contactImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.contactBanner::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
/* contact banner section end */


/* about banner section start */
.aboutBanner{
  background-image: url('../../public/about/office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.aboutBanner::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -2;
}
/* about banner section end */